
#p1{
    color: blue;
    background: green;
  }
  
  #p2{
    color:red;
  }
  
  
  .quotesSection1{
    background: #d9d9d9; 
    width: 300px;
  }
  
  
  p{ 
    width: 500px;
  }