<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Cruella" content="Peliculas de Disney">
    <link rel="stylesheet" href="/css/estilos1.css">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 
    <title>Cruella - Disney</title>
</head>
<body>
    <header>
		<div class="contenedor">
            <img src="/img/Disney-logo.png" alt="">
			<nav>
				<a href="/peliculasDisney.html" class="activo">Inicio</a>
				<a href="https://www.disneyplus.com/es-ec?cid=DTCI-Synergy-DDN-Site-Acquisition-ESSustain-ES-DisneyPlus-DisneyPlus-ES-NavLink-Disney.es_Sustain_navbar-NA">Más Información</a>
				<a href="https://disney.es/disney-plus-star">Disney+ presenta Star</a>
				<a href="https://disney.es/que-ver-en-disney-plus-en-julio-2022">Novedades en Disney+</a>
			</nav>
		</div>
	</header>
    <main>
		<div class="pelicula-principal">
            <div class="imagen"><img src="/img/5.jpg" alt=""></div>
			<div class="descripcion">
				<h2 class="titulo">Cruella</h2>
				<p class="descripcion">
					Ambientada en el Londres de los años 70, en plena revolución del punk rock, muestra a una joven estafadora llamada Estella, una chica inteligente y creativa, decidida a convertirse en una exitosa diseñadora de moda, que se asocia con un par de ladrones para sobrevivir en las calles de la capital británica. Pero cuando su talento para la moda llama la atención de la legendaria diseñadora, la Baronesa von Hellman, Estella cambia el rumbo de su vida hasta que una serie de acontecimientos y revelaciones que harán que Estella asuma su lado malvado y se convierta en la estridente, moderna y vengativa Cruella de Vil.
				</p>
				<h3 class="subtitulo">Dirigida por</h3>
				<p class="descripcion">
					Craig Gillespie
				</p>
				<h3 class="subtitulo">Producida por</h3>
				<p class="descripcion">
					Dana Fox, Tony McNamara
				</p>
				<h3 class="subtitulo">Reparto</h3>
				<p class="descripcion">
					Emma Stone, Emma Thompson, Joel Fry, Paul Walter Hauser, Emily Beecham, Kirby Howell-Baptiste, Mark Strong, Tipper Seifert Cleveland, Kayvan Novak, John McCrea, Jamie Demetriou, Niamh Lynch, Andrew Leung, Ed Birch, Dylan Lowe, Paul Bazely, Abraham Popoola, Leo Bill, Ninette Finch, Sarah Crowden
				</p>

				<button role="button" class="boton" id="btn-abrir-popup" onclick="toogle();"><i class="fas fa-play"></i>Ver tráiler</button>
				<a href="https://www.disneyplus.com/movies/cruella/2GJTZuO8I01c?cid=DTCI-Synergy-DDN-Site-Acquisition-ESSustain-ES-Disney-Cruella-ES-DetailsPage-disney.es_sustain_cruella-NA">
				<button role="button" class="boton"><i class="fas fa-info-circle"></i>Más información</button></a>
			</div>
		</div>

		<div class="trailer" id="trailer">
			<iframe width="100%" height="80%" src="https://www.youtube.com/embed/oK13SZYZqmA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<a href="Cruella.html" id="btn-cerrar-popup" class="btn-cerrar-popup" onclick="toogle();"><i class="fas fa-times"></i></a>
		</div>
	</main>

	<footer class="pie">
		<div class="social-networks">
			<h3 class="seguir">Sigue a Disney en:</h3>
			<a href="https://www.facebook.com/Disney" class="facebook"><i class="fab fa-facebook-f"></i></a>
			<a href="https://www.instagram.com/disney/?fbclid=IwAR00NtNCt5q-VRu5GfePNlV9cIYCcRZRZ7cyBr2Y8-zN4H1AwMSTF_XSarM" class="instagram"><i class="fab fa-instagram"></i></a>
			<a href="https://twitter.com/DisneySpain" class="twitter"><i class="fab fa-twitter"></i></a>
			<a href="https://www.youtube.com/user/DisneyChannelLA" class="youtube"><i class="fab fa-youtube"></i></a>
			<div class="Disney">
				<img src="img/disney.png" alt="" width="220px" height="150px"/>
			</div>
		</div>
	</footer>

	<script src="/js/code.js"></script>
	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
</body>
</html>