<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos1.css">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 
    <title>Luca-Disney</title>
</head>
<body>
    <header>
		<div class="contenedor">
            <img src="/img/Disney-logo.png" alt="">
			<nav>
				<a href="/peliculasDisney.html" class="activo">Inicio</a>
				<a href="https://www.disneyplus.com/es-ec?cid=DTCI-Synergy-DDN-Site-Acquisition-ESSustain-ES-DisneyPlus-DisneyPlus-ES-NavLink-Disney.es_Sustain_navbar-NA">Más Información</a>
				<a href="https://disney.es/disney-plus-star">Disney+ presenta Star</a>
				<a href="https://disney.es/que-ver-en-disney-plus-en-julio-2022">Novedades en Disney+</a>
			</nav>
		</div>
	</header>
    <main>
		<div class="pelicula-principal">
            <div class="imagen"><img src="/img/1.jpg" alt=""></div>
			<div class="descripcion">
				<h2 class="titulo">Luca</h2>
				<p class="descripcion">
					Ambientada en un precioso pueblo costero de la Riviera italiana, narra la historia sobre el paso a la edad adulta de un chico que vive un verano inolvidable lleno de helados, pasta e infinitos paseos en scooter. Luca comparte estas aventuras con su nuevo mejor amigo, pero toda la diversión se ve amenazada por un secreto muy profundo: él es un monstruo marino de un mundo que yace bajo la superficie del agua.
				</p>
				<h3 class="subtitulo">Dirigida por</h3>
				<p class="descripcion">
					Enrico Casarosa
				</p>
				<h3 class="subtitulo">Producida por</h3>
				<p class="descripcion">
					Andrea Warren
				</p>
				<h3 class="subtitulo">Reparto</h3>
				<p class="descripcion">
					Jacob Tremblay, Jack Dylan Grazer, Emma Berman, Maya Rudolph, Marco Barricelli, Jim Gaffigan
				</p>

				<button role="button" class="boton" id="btn-abrir-popup" onclick="toogle();"><i class="fas fa-play"></i>Ver tráiler</button>
				<a href="https://www.disneyplus.com/en-gb/movies/luca/7K1HyQ6Hl16P?cid=DTCI-Synergy-DDN-Site-Acquisition-ESSustain-ES-Pixar-Luca-ES-DetailsPage-disney.es_sustain_luca-NA">
				<button role="button" class="boton"><i class="fas fa-info-circle"></i>Más información</button></a>
			</div>
		</div>

		<div class="trailer" id="trailer">
			<iframe width="100%" height="80%" src="https://www.youtube.com/embed/kw50vQA1S-o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<a href="Luca.html" id="btn-cerrar-popup" class="btn-cerrar-popup" onclick="toogle();"><i class="fas fa-times"></i></a>
		</div>
	</main>

	<footer class="pie">
		<div class="social-networks">
			<h3 class="seguir">Sigue a Disney en:</h3>
			<a href="https://www.facebook.com/Disney" class="facebook"><i class="fab fa-facebook-f"></i></a>
			<a href="https://www.instagram.com/disney/?fbclid=IwAR00NtNCt5q-VRu5GfePNlV9cIYCcRZRZ7cyBr2Y8-zN4H1AwMSTF_XSarM" class="instagram"><i class="fab fa-instagram"></i></a>
			<a href="https://twitter.com/DisneySpain" class="twitter"><i class="fab fa-twitter"></i></a>
			<a href="https://www.youtube.com/user/DisneyChannelLA" class="youtube"><i class="fab fa-youtube"></i></a>
			<div class="Disney">
				<img src="/img/disney.png" alt="" width="220px" height="150px"/>
			</div>
		</div>
	</footer>

	<script src="/js/code.js"></script>
	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
</body>
</html>